# Ignore pycache
__pycache__/

# Image directory
imgs/

# Coordinates directory
coords/

# Shell scripts
*.sh

# Images
*.png

# GIFs
*.gif

# Text files
*.txt

# Environment
mopso/

# vscode
.vscode/
